.vscode/**
.vscode-test/**
node_modules/**
images/**/?(current-)project-*-color-x-*.svg
images/previews/**
plugins/**
src/**
tasks/**
test/**
.eslintignore
.eslintrc.json
.gitignore
gulpfile.js
tsconfig.json
**/*.map
**/*.ts
